<!-- <button style="position: absolute; left: 50%; z-index: 500;" (click)="startLoop()">start loop</button> -->

<app-map-controls
    [currentLightningLayer]="currentLightningLayer" 
    [currentSatelliteLayer]="currentSatelliteLayer" 
    (setLightningOptionEvent)="setLightningLayers($event)"
    (setSatelliteOptionEvent)="setSatelliteLayers($event)"
    (toggleNatRadarEvent)="toggleNatRadar()"
    [natRadarLoopStatus]="natRadarLoopStatus">
    <!-- (startLoopEvent)="startNatRadarLoop()" -->
</app-map-controls>
<app-my-forecast></app-my-forecast>

<div class="fullscreen-map"
     [ngClass]="{'hide-timedimesnion-control': hideTimedimensionControl}"
     leaflet 
     [leafletOptions]="options"
     (leafletMapReady)="mapReady($event)">
     <!-- [leafletLayers]="layers"> -->
</div>


<!-- sattelite controls -->
<loop-controls 
    *ngIf="currentSatelliteLayer != 'none' "
    (startCurrentLoop)="initLoop()"
    (stopCurrentLoop)="stopLoop(currentSatelliteLayer)">
    <!-- (startCurrentLoop)="startLoop()" -->
</loop-controls>

<!-- loading component -->
<loader-cube-grid *ngIf="loaderVisible"></loader-cube-grid>