<div class="map-controls__container map-controls__layers">
  <div class="map-controls__wrapper">

        <div ngbDropdown class="d-inline-block">
          <button class="btn map-controls__dropdown" id="radarDropdown" ngbDropdownToggle>Radar</button>
          <div ngbDropdownMenu aria-labelledby="radarDropdown">
            <ul class="map-controls__dropdown-ul">
              <li class="dropdown-item">
                <input type="checkbox" id="radar-national" name="radarRadio" [checked]="natRadarLoopStatus" (click)='toggleNatRadar()'>
                <label for="radar-national">National Radar (Composite National Radar)</label>
              </li>
              <li class="dropdown-item">
                <input type="radio" id="radar-dual-pol" name="radarRadio">
                <label for="radar-dual-pol">Dual-Pol Radar/Local Radar (Level 2 Data)</label>
              </li>
              <li class="dropdown-item">
                <input type="radio" id="radar-international" name="radarRadio">
                <label for="radar-international">International Radar</label>
              </li>
              <!-- <button class="dropdown-item">Storm Relative Motion/Velocity</button>
              <button class="dropdown-item">1 hour Total Precipation</button> -->
            </ul>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <button class="btn map-controls__dropdown" id="satelliteDropdown" ngbDropdownToggle>Satellite</button>
          <div ngbDropdownMenu aria-labelledby="satelliteDropdown">
            <form>
              <ul class="map-controls__dropdown-ul">
                <li class="dropdown-item" (click)='setSatelliteOption("visible")'>
                  <input type="radio" id="visible-satellite" name="satelliteRadio" [checked]="currentSatelliteLayer === 'visible' " />
                  <label for="visible-satellite">Visible</label>
                </li>
                <li class="dropdown-item" (click)='setSatelliteOption("ir")'>
                  <input type="radio" id="ir-satellite" name="satelliteRadio" [checked]="currentSatelliteLayer === 'ir' " />
                  <label for="ir-satellite">IR</label>
                </li>
                <li class="dropdown-item" (click)='setSatelliteOption("enhanced")'>
                  <input type="radio" id="enhanced-atellite" name="satelliteRadio" [checked]="currentSatelliteLayer === 'enhanced' " />
                  <label for="enhanced-atellite">Enhanced</label>
                </li>
                <li class="dropdown-item" (click)='setSatelliteOption("none")'>
                  <input type="radio" id="satellite-hide" name="satelliteRadio" [checked]="currentSatelliteLayer === 'none' " />
                  <label for="satellite-hide">None</label>
                </li>
              </ul>
            </form>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <button class="btn map-controls__dropdown" id="surfaceWeatherDropdown" ngbDropdownToggle>Surface Weather</button>
          <div ngbDropdownMenu aria-labelledby="surfaceWeatherDropdown">
            <button class="dropdown-item">Station Obs</button>
            <button class="dropdown-item">Surface Temps</button>
            <button class="dropdown-item">Surface Wind Speeds</button>
            <button class="dropdown-item">Current Surface Analysis</button>
            <!-- <button class="dropdown-item">Surface Dewpoint</button> -->
            <!-- <button class="dropdown-item">Surface Relative Humidity</button> -->
            <!-- <button class="dropdown-item">Ships & Buoys Observations/Company observation stations</button> -->
          </div>
        </div>

        <!-- TODO: Generate dynamically -->
        <div ngbDropdown class="d-inline-block">
          <button class="btn map-controls__dropdown" id="lightningDropdown" ngbDropdownToggle>Lightning</button>
          <div ngbDropdownMenu aria-labelledby="lightningDropdown">
            <form>
              <ul class="map-controls__dropdown-ul">
                <li class="dropdown-item" (click)='setLightningOption("show-all")'>
                  <input type="radio" id="lightning-all" name="lightningRadio" [checked]="currentLightningLayer === 'show-all'">
                  <label for="lightning-all">Display all lightning strikes</label>
                </li>
                <li class="dropdown-item" (click)='setLightningOption("c2g")'>
                  <input type="radio" id="lightning-c2g" name="lightningRadio" [checked]="currentLightningLayer === 'c2g'">
                  <label for="lightning-c2g">Cloud to ground</label>
                </li>
                <li class="dropdown-item" (click)='setLightningOption("c2c")'>
                  <input type="radio" id="lightning-c2c" name="lightningRadio" [checked]="currentLightningLayer === 'c2c'">
                  <label for="lightning-c2c">Cloud to cloud</label>
                </li>
                <li class="dropdown-item" (click)='setLightningOption("hide-all")'>
                  <input type="radio" id="lightning-hide" name="lightningRadio" [checked]="currentLightningLayer === 'hide-all'">
                  <label for="lightning-hide">Hide Lightning</label>
                </li>
                <!-- <button class="dropdown-item">Lightning predictor</button>
                <button class="dropdown-item">High</button>
                <button class="dropdown-item">Medium</button> -->
              </ul>
            </form>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <button class="btn map-controls__dropdown" id="watchesWarningsDropdown" ngbDropdownToggle>Watches/Warnings</button>
          <div ngbDropdownMenu aria-labelledby="watchesWarningsDropdown">
            <button class="dropdown-item">All displayed on or all off</button>
            <button class="dropdown-item">Severe Thunderstorm Warning</button>
            <button class="dropdown-item">Severe Thunderstorm Watch</button>
            <button class="dropdown-item">Tornado Warning</button>
            <button class="dropdown-item">Tornado Watch</button>
            <button class="dropdown-item">Flash Flood Warning</button>
            <button class="dropdown-item">Flash Flood Watch</button>
            <button class="dropdown-item">High Wind Warning</button>
            <button class="dropdown-item">High Wind Advisory</button>
          </div>
        </div>

  </div>
</div>

<div class="map-controls__container map-controls__top-right">
  <div class="map-controls__wrapper">
    <button type="button" class="btn map-controls_btn" (click)="open(content)">My Forecast</button>
    <button type="button" class="btn map-controls_btn">
      <i class="fa fa-cog" aria-hidden="true"></i>      
    </button>
  </div>
</div>

<div class="map-controls__container map-controls__bottom-left">
  <div class="map-controls__wrapper">Legend</div>
</div>

      <!-- TODO: move to my-forecast component -->
      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">My forecast</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue eget mauris nec aliquam. Ut in turpis molestie, imperdiet sem quis, ultricies ipsum. Sed semper velit at dolor suscipit varius. Donec vulputate nunc velit, et bibendum ex ornare vitae. Suspendisse in lacinia turpis. Nam non enim imperdiet, aliquam orci non, efficitur felis. Praesent dapibus vehicula massa, et dictum velit sagittis sit amet. Nulla ultricies risus eu nulla pharetra, vel consectetur nisl tincidunt. Ut feugiat dignissim vestibulum. Donec viverra lorem vel tellus elementum, eget blandit augue volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ligula elit, placerat eu euismod in, vehicula id nisl. Sed magna odio, mattis congue quam non, viverra tempus purus. Mauris at cursus urna.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>