// ViewEncapsulation.None

.map-controls__container {
  position: fixed;
  z-index: 401;
}

.map-controls__layers {
  top: 0;
  left: 0;
}

.map-controls__top-right {
  top: 0;
  right: 0;
}

.map-controls__bottom-left {
  bottom: 0;
  left: 0;
}

.map-controls__wrapper {
  display: inline-block;
  min-height: 31.5px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
  overflow: hidden;
  background: white;

  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.map-controls_btn,
.map-controls__dropdown {
  border: none;
  border-radius: 0;
  color: #61676b;
  font-size: 14px;
  background: white;
  cursor: pointer;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  &:hover {
    color: #333;
  }
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.map-controls_btn {
  &:not(:last-child) {
    &::after {
      content: '';
      display: inline-flex;
      position: relative;
      bottom: -3px;
      left: 12px;
      height: 16px;
      border-left: 1px solid #ddd;
    }
  }
}

.map-controls__dropdown {
  &:not(:last-child) {
    &::before {
      content: '';
      display: inline-flex;
      position: relative;
      right: 13px;
      bottom: -3px;
      height: 16px;
      border-left: 1px solid #ddd;
    }
  }
}

.map-controls__dropdown-ul {
  margin: 0;
  padding: 0;
}

// TODO: Replace this
.dropdown-item.active,
.dropdown-item:active {
  outline: none;
  background: white;
}
