// 
// CUSTOM RADIO
// 

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  display: inline-block;
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 28px;
  line-height: 20px;
  color: #666;
  cursor: pointer;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #73b6e6;
  transition: all .2s ease;

  -webkit-transition: all .2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);

  -webkit-transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);

  -webkit-transform: scale(1);
}


// 
// CUSTOM CHECKBOX
// 

[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  display: inline-block;
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 28px;
  line-height: 20px;
  color: #666;
  cursor: pointer;
}
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 20%;
  background: #fff;
}
[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 20%;
  background: #73b6e6;
  transition: all .2s ease;

  -webkit-transition: all .2s ease;
}
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);

  -webkit-transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  transform: scale(1);

  -webkit-transform: scale(1);
}
