// 
// RIGHT SIDEBAR MODAL
// 

.right-modal {
  .modal-dialog {
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .modal-content {
    height: 100%;
    border: none;
    border-radius: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
}