.loader__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  background: rgba(0, 0, 0, .35);

  text-align: center;
}

.loader__text {
  margin-top: 25px;
  font-size: 22px;

  font-weight: 800;
  // -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.651);
  text-shadow: -0.5px -0.5px 0 rgba(255, 255, 255, 0.35),
  0.5px -0.5px 0 rgba(255, 255, 255, 0.35),
  -0.5px 0.5px 0 rgba(255, 255, 255, 0.35),
  0.5px 0.5px 0 rgba(255, 255, 255, 0.35);
}

.sk-folding-cube {
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  transform: rotateZ(45deg);

  -webkit-transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  transform: scale(1.1);

  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;

  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);

  -webkit-transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);

  -webkit-transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);

  -webkit-transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    opacity: 0;
    transform: perspective(140px) rotateX(-180deg);

    -webkit-transform: perspective(140px) rotateX(-180deg);
  } 25%,
  75% {
    opacity: 1;
    transform: perspective(140px) rotateX(0deg);

    -webkit-transform: perspective(140px) rotateX(0deg);
  } 90%,
  100% {
    opacity: 0;
    transform: perspective(140px) rotateY(180deg);

    -webkit-transform: perspective(140px) rotateY(180deg);
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    opacity: 0;
    transform: perspective(140px) rotateX(-180deg);

    -webkit-transform: perspective(140px) rotateX(-180deg);
  } 25%,
  75% {
    opacity: 1;
    transform: perspective(140px) rotateX(0deg);

    -webkit-transform: perspective(140px) rotateX(0deg);
  } 90%,
  100% {
    opacity: 0;
    transform: perspective(140px) rotateY(180deg);

    -webkit-transform: perspective(140px) rotateY(180deg);
  }
}
