<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">My forecast</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue eget mauris nec aliquam. Ut in turpis molestie, imperdiet sem quis, ultricies ipsum. Sed semper velit at dolor suscipit varius. Donec vulputate nunc velit, et bibendum ex ornare vitae. Suspendisse in lacinia turpis. Nam non enim imperdiet, aliquam orci non, efficitur felis. Praesent dapibus vehicula massa, et dictum velit sagittis sit amet. Nulla ultricies risus eu nulla pharetra, vel consectetur nisl tincidunt. Ut feugiat dignissim vestibulum. Donec viverra lorem vel tellus elementum, eget blandit augue volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ligula elit, placerat eu euismod in, vehicula id nisl. Sed magna odio, mattis congue quam non, viverra tempus purus. Mauris at cursus urna.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->