.map-controls__loop {
  bottom: 0;
  left: 50%;
  transform: perspective(1px) translatex(-50%);
}

// 
// Loop controls
// 

$loop__radius: 12px;

.loop-btn__container {
  position: absolute;
  bottom: 30px;
  width: 100%;

  text-align: center;
}

.loop-btn {
  position: relative;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
  color: #61676a;

  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);

  &:hover {
    background-color: #f4f4f4;
    cursor: pointer;
  }
}

.loop-btn__back {
  width: 45px;
  border-top-left-radius: $loop__radius;

  -webkit-border-top-left-radius: $loop__radius;
  -moz-border-top-left-radius: $loop__radius;
}

.loop-btn__play,
.loop-btn__pause {
  z-index: 402;
  width: 50px;
  height: 50px;
  margin-right: -10px;
  margin-left: -10px;
  border-radius: 50%;
  color: #d9edfe;
  background: #3ea1f6;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  &:hover {
    color: rgba(255, 255, 255, .9);
    background: #2e9bf5;
  }
}

.loop-btn__play {
  padding-left: 16px;
}

.loop-btn__pause {
  padding-left: 11px;
}

.loop-btn__next {
  width: 45px;
  border-top-right-radius: $loop__radius;

  -webkit-border-top-right-radius: $loop__radius;
  -moz-border-top-right-radius: $loop__radius;
}

.loop-progress__wrapper {
  min-width: 500px;
  height: 50px;
  margin-bottom: -5px;
  padding-top: 25px;
  border-top-right-radius: $loop__radius;
  border-top-left-radius: $loop__radius;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  // background: #373942;

  text-align: center;
  -webkit-border-top-right-radius: $loop__radius;
  -moz-border-top-right-radius: $loop__radius;
  -webkit-border-top-left-radius: $loop__radius;
  -moz-border-top-left-radius: $loop__radius;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
}
