<div class="map-controls__container map-controls__loop">
  <div class="loop-btn__container">
    <button class="btn loop-btn loop-btn__back">
      <i class="fa fa-step-backward" aria-hidden="true"></i>        
    </button>
    <button *ngIf="!isLooping" class="btn loop-btn loop-btn__play" (click)="startLoop()">
      <i class="fa fa-play fa-2x" aria-hidden="true"></i> 
    </button>
    <button *ngIf="isLooping" class="btn loop-btn loop-btn__pause" (click)="stopLoop()">
      <i class="fa fa-pause fa-2x" aria-hidden="true"></i> 
    </button>
    <button class="btn loop-btn loop-btn__next">
        <i class="fa fa-step-forward" aria-hidden="true"></i>        
    </button>
  </div>
  <div class="map-controls__wrapper loop-progress__wrapper">loop progress bar</div>
</div>