/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/forms';
@import 'styles/modals';


body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}


.lightning-icon {
  .fa-bolt {
    font-size: 20px;

    &:before {
      text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
    }
  }
}

.lightning-icon--c2c {
  .fa-bolt {
    color: #ff0;
  }
}


.lightning-icon--c2g {
  .fa-bolt {
    color: #eb3941;
  }
}

.leaflet-control {
  left: 0% !important;
  // transform: perspective(1px) translateX(-50%) !important;
}

.hide-timedimesnion-control {
  .leaflet-bar-timecontrol {
    display: none !important;
    background: pink !important;
  }
}